@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>RhythmicRealm-Hakkımızda</title>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="~/aboutus/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="~/aboutus/css/font-awesome.css">

    <link rel="stylesheet" href="~/aboutus/css/templatemo-hexashop.css">

    <link rel="stylesheet" href="~/aboutus/css/owl-carousel.css">

    <link rel="stylesheet" href="~/aboutus/css/lightbox.css">

    <style>
        .logo_container {
            margin-top: 20px;
        }

        .logo_container a {
            font-size: 24px;
            color: #d21737;
            font-weight: 700;
            text-transform: uppercase;
        }

        .logo_container a span {
            color: #fff;
        }

    </style>

    </head>
    
    <body>
    

    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <div class="logo_container">
                            <a href="/">Rhythmic<span class="text-dark">Realm</span></a>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Main Banner Area Start ***** -->
    <div class="page-heading about-page-heading" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-content">
                        <h2>Biz Kimiz?</h2>
                        <
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** About Area Starts ***** -->
    <div class="about-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="left-image">
                        <img src="~/aboutus/images/aboutus.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right-content">
                        <h4>Nasıl Başladık?</h4>
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod kon tempor incididunt ut labore.</span>
                        <div class="quote">
                            <i class="fa fa-quote-left"></i><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiuski smod kon tempor incididunt ut labore.</p>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod kon tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** About Area Ends ***** -->

    <!-- ***** Our Team Area Starts ***** -->
    <section class="our-team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>Rhythmic Realm Eğitimler</h2>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-item">
                        <div class="thumb">
                            <div class="hover-effect">
                                <div class="inner-content">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <img src="~/aboutus/images/egitim1.png">
                        </div>
                        <div class="down-content">
                            <h4>Uzaktan Elektro Gitar Eğitimi</h4>
                            <span>Rhythmic Realm Akademi'de'</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-item">
                        <div class="thumb">
                            <div class="hover-effect">
                                <div class="inner-content">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <img src="~/aboutus/images/egitim2.png">
                        </div>
                        <div class="down-content">
                            <h4>Uzaktan Keman Eğitimi</h4>
                            <span>Rhythmic Realm Akademi'de'</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-item">
                        <div class="thumb">
                            <div class="hover-effect">
                                <div class="inner-content">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <img src="~/aboutus/images/egitim3.png">
                        </div>
                        <div class="down-content">
                            <h4>Uzaktan Piyano Eğitimi</h4>
                            <span>Rhythmic Realm Akademi'de'</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-item">
                        <div class="thumb">
                            <div class="hover-effect">
                                <div class="inner-content">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <img src="~/aboutus/images/egitim4.png">
                        </div>
                        <div class="down-content">
                            <h4>Uzaktan Saksafon Eğitimi</h4>
                            <span>Rhythmic Realm Akademi'de'</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-item">
                        <div class="thumb">
                            <div class="hover-effect">
                                <div class="inner-content">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <img src="~/aboutus/images/egitim5.png">
                        </div>
                        <div class="down-content">
                            <h4>Uzaktan Çello Eğitimi</h4>
                            <span>Rhythmic Realm Akademi'de'</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-item">
                        <div class="thumb">
                            <div class="hover-effect">
                                <div class="inner-content">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <img src="~/aboutus/images/egitim6.png">
                        </div>
                        <div class="down-content">
                            <h4>Uzaktan Davul Eğitimi</h4>
                            <span>Rhythmic Realm Akademi'de'</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Our Team Area Ends ***** -->

    <!-- ***** Services Area Starts ***** -->
    <section class="our-services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>Rhythmic Realm Blog</h2>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="service-item">
                        <h4>Vokal Kaydı İçin Başlangıç Rehberi</h4>
                        <p class="truncate">Ses kayıt mühendisleri, kayıt stüdyosunda evrensel gerçeği kabul ederler: Hazırlık önemlidir. Kayıt aşamasını başarılı bir şekilde tamamlamazsanız tüm parça amatörce gelebilir. Ayrıca, çok geç olduğunda kötü bir kayıt yaptığınızı fark etmekten daha kötü bir şey yoktur. Bu blog yazısı, vokal kayıtlarınızda başarıya ulaşmanız için kendinizi hazırlamanızı sağlayacak ipuçlarını içeriyor. Hadi başlayalım!</p>
                        <p class="more"><a href="https://blog.do-re.com.tr/vokal-kaydi-icin-baslangic-rehberi/">Devamını Oku...</a></p>
                        <img src="~/aboutus/images/blog1.png">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service-item">
                        <h4>Novation Components  Dark Techno Paketi</h4>
                        <p class="truncate">Components, Novation ürün merkezinizdir. Yeni ses paketlerine erişebilir, ses içeriğinizi yönetebilir, cihazınızı özelleştirebilir ve en son yazılımı takip edebilirsiniz.</p>
                        <p class="more"><a href="https://blog.do-re.com.tr/novation-components-yeni-dark-techno-paketi/">Devamını Oku...</a></p>
                        <img src="~/aboutus/images/blog2.png">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service-item">
                        <h4>Davula Başlayanlar İçin Bir Kılavuz</h4>
                        <p class="truncate">Modern müzisyenler için elektronik bir davul seti, sadece bir davulcu olarak gelişim ve ilerlemenin önemli bir parçası değil, aynı zamanda kullanışlı bir stüdyo veya canlı bir araç olma potansiyeline sahiptir.</p>
                        <p class="more"><a href="https://blog.do-re.com.tr/davul-calmaya-yeni-baslayanlar-icin-bir-kilavuz/">Devamını Oku...</a></p>
                        <img src="~/aboutus/images/blog3.png">
                    </div>
                </div>
               
            </div>
        </div>
    </section>
    <!-- ***** Services Area Ends ***** -->


@* 
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="first-item">
                        <div class="logo">
                            <img src="~/aboutus/images/white-logo.png" alt="hexashop ecommerce templatemo">
                        </div>
                        <ul>
                            <li><a href="#">16501 Collins Ave, Sunny Isles Beach, FL 33160, United States</a></li>
                            <li><a href="#">hexashop@company.com</a></li>
                            <li><a href="#">010-020-0340</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h4>Shopping &amp; Categories</h4>
                    <ul>
                        <li><a href="#">Men’s Shopping</a></li>
                        <li><a href="#">Women’s Shopping</a></li>
                        <li><a href="#">Kid's Shopping</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="#">Homepage</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Help &amp; Information</h4>
                    <ul>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">FAQ's</a></li>
                        <li><a href="#">Shipping</a></li>
                        <li><a href="#">Tracking ID</a></li>
                    </ul>
                </div>
                <div class="col-lg-12">
                    <div class="under-footer">
                        <p>Copyright © 2022 HexaShop Co., Ltd. All Rights Reserved. 
                        
                        <br>Design: <a href="https://templatemo.com" target="_parent" title="free css templates">TemplateMo</a>

                        <br>Distributed By: <a href="https://themewagon.com" target="_blank" title="free & premium responsive templates">ThemeWagon</a></p>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer> *@
    

    <!-- jQuery -->
    <script src="~/aboutus/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/aboutus/js/popper.js"></script>
    <script src="~/aboutus/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="~/aboutus/js/owl-carousel.js"></script>
    <script src="~/aboutus/js/accordions.js"></script>
    <script src="~/aboutus/js/datepicker.js"></script>
    <script src="~/aboutus/js/scrollreveal.min.js"></script>
    <script src="~/aboutus/js/waypoints.min.js"></script>
    <script src="~/aboutus/js/jquery.counterup.min.js"></script>
    <script src="~/aboutus/js/imgfix.min.js"></script> 
    <script src="~/aboutus/js/slick.js"></script> 
    <script src="~/aboutus/js/lightbox.js"></script> 
    <script src="~/aboutus/js/isotope.js"></script> 
    
    <!-- Global Init -->
    <script src="~/aboutus/js/custom.js"></script>


  </body>

</html>
