	<!-- SEARCH BAR -->

	<div class="header-search">
		<form>
			<select class="input-select">
				<option value="0">Kategoriler</option>
				<option value="1">Category 01</option>
				<option value="1">Category 02</option>
			</select>
			<input class="input" placeholder="Aradığınız ürün, kategori, marka.. ">
			<button class="search-btn">Ara</button>
		</form>
	</div>

<!-- /SEARCH BAR -->