	<!-- SEARCH BAR -->

	<div class="header-search">
		<form >
	
			<input class="input " placeholder="Aradığınız ürün, kategori, marka.. ">
			<button class="search-btn">Ara</button>
		</form>
	</div>

<!-- /SEARCH BAR -->