@model int
<li class="nav-item active">
    <a asp-area="Admin" asp-controller="Message" asp-action="Index" asp-route-messageType="All" class="nav-link">
        <i class="fas fa-inbox"></i> Tüm Mesajlar
        <span class="badge bg-primary float-right">@Model</span>
    </a>
</li>