@model int
<li class="nav-item dropdown">
    <a  asp-area="Admin" asp-controller="Message" asp-action="Index"  class="nav-link"  >
        <i class="far fa-comments"></i>
        <span class="badge badge-danger navbar-badge">@Model</span>
    </a>

</li>