<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>Rhythmic Realm|Sepet</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="~/ui/css/bootstrap.min.css" />

	<!-- Slick -->
	<link type="text/css" rel="stylesheet" href="~/ui/css/slick.css" />
	<link type="text/css" rel="stylesheet" href="~/ui/css/slick-theme.css" />

	<!-- nouislider -->
	<link type="text/css" rel="stylesheet" href="~/ui/css/nouislider.min.css" />

	<!-- Font Awesome Icon -->
	<link rel="stylesheet" href="~/ui/css/font-awesome.min.css">

	<script src="~/ui/js/jquery.min.js"></script>
	<script src="~/ui/js/bootstrap.min.js"></script>
	<script src="~/ui/js/slick.min.js"></script>
	<script src="~/ui/js/nouislider.min.js"></script>
	<script src="~/ui/js/jquery.zoom.min.js"></script>
	<script src="~/ui/js/main.js"></script>
	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="~/ui/css/style.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/~/Basket/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/Basket/assets/css/style.css">

</head>
<body>
	@await Html.PartialAsync("_HeaderPartial")
	<!-- NAVIGATION -->
	<nav id="navigation">
		<!-- container -->
		<div class="container">

			@await Component.InvokeAsync("NavbarOfMainCat")
		</div>
		<!-- /container -->
	</nav>
	<!-- /NAVIGATION -->
	@RenderBody();


	<!-- jQuery Plugins -->
	<script src="~/ui/jsjquery.min.js"></script>
	<script src="~/ui/jsbootstrap.min.js"></script>
	<script src="~/ui/jsslick.min.js"></script>
	<script src="~/ui/jsnouislider.min.js"></script>
	<script src="~/ui/jsjquery.zoom.min.js"></script>
	<script src="~/ui/jsmain.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>
