@{
    Layout = "_LoginRegisterLayout";
}


<section class="content mt-5 d-flex justify-content-center align-items-center">
    <div class="error-content text-center">
        <h3><i class="fas fa-exclamation-triangle text-warning"></i> Oops! Sayfa bulunamadı.</h3>
        <p>
            Bu alana erişim yetkiniz bulunmamaktadır. Ana sayfaya <span class="btn-link"><a href="/">buradan</a></span> ulaşabilirsiniz.
        </p>
    </div>
</section>