@{
    Layout = "_LoginRegisterLayout";
}

@model ForgotPasswordViewModel

    <div class="login-box">
        <div class="login-logo">
            <a href="~/admin/index2.html"><b>Rhythmic</b>Realm</a>
           
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">
                    Şifre yenileme bağlantısını gönderebilmemiz için e-posta adresinize ihtiyacımız var.
                </p>

                <form asp-area="" asp-controller="Account" asp-action="ForgotPassword"  method="post">
                <label asp-for="Email"></label>
                    <div class="input-group mb-3">
                        <input asp-for="Email" type="email" class="form-control">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                <span class="text-danger" asp-validation-for="Email"></span>
                    <div class="row">
                        <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block">Yeni Şifre Talebi</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

         
                <p class="mb-0 mt-3">
                    <a asp-area=""
                    asp-controller="Account"
                    asp-action="Login"
                    class="text-center">Önceki Sayfaya Geri Dön</a>
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
        
    </div>
    <!-- /.login-box -->
