@{
    Layout = "_LoginRegisterLayout";
}
@model LoginViewModel

    <div class="login-box">
        <div class="login-logo">
            <a href="../../index2.html"><b>Rhythmic</b>Realm</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <img src="~/ui/img/loginRegisterImg.png" style="height:200px" />
            <div class="card-body login-card-body">
                <p class="login-box-msg"> </p>

                <form 
                    asp-area=""
                    asp-controller="Account"
                    asp-action="Login"
                    method="post"
                >
           
                    <div class="input-group mb-3">
                        <input asp-for="Email" class="form-control" placeholder="Email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <span class="text-danger" asp-validation-for="Email"></span>
                    <div class="input-group mb-3">
                        <input asp-for="Password" type="password" class="form-control" placeholder="Şifre">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <span class="text-danger" asp-validation-for="Password"></span>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input asp-for="RemindMe" type="checkbox" id="remember">
                                <label for="remember">
                               Beni Hatırla
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Giriş Yap</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

            
                <!-- /.social-auth-links -->

                <p class="mb-1">
                    <a
                        asp-area=""
                        asp-controller="Account"
                        asp-action="ForgotPassword"
                        >Şifremi Unuttum</a>
                </p>
             
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->


 
