@{
    Layout = "_LoginRegisterLayout";
}
@model LoginViewModel

    <div class="login-box">
        <div class="login-logo">
            <a href="../../index2.html"><b>Rhythmic</b>Realm</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <img src="~/ui/img/loginRegisterImg.png" style="height:200px" />
            <div class="card-body login-card-body">
                <p class="login-box-msg"> </p>

            <form asp-controller="Account" asp-action="Login" method="post">
           <div class="text-danger" asp-validation-summary="All"></div>
           <label asp-for="Email"></label>
                <span class="text-danger" asp-validation-for="Email"></span>
                    <div class="input-group mb-3">
                        <input asp-for="Email" class="form-control">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
               
                <label asp-for="Password"></label>
                <span class="text-danger" asp-validation-for="Password"></span>
                    <div class="input-group mb-3">
                        <input asp-for="Password" type="password" class="form-control" >
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
              
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input asp-for="RememberMe" type="checkbox" id="remember">
                                <label for="remember">
                               Beni Hatırla
                                </label>
                            </div>
                        </div> 
                    
                        <a asp-area=""
                           asp-controller="Account"
                           asp-action="ForgotPassword"
                        class="mb-3">Şifremi Unuttum</a>
               
                        <!-- /.col -->
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Giriş Yap</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

            
             
             
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->


 
