@{
    Layout = "_LoginRegisterLayout";
}
@model  ResetPasswordViewModel


    <div class="login-box">
        <div class="login-logo">
            <a href="~/admin/index2.html"><b>Rhythmic</b>Realm</a>
        </div>
        <!-- /.login-logo -->
        <div class="text-center">
        <p class="login-box-msg">Şifreniz en az 7 karakter olmalıdır, harf ve rakam içermelidir.</p>
        </div>
  
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Yeni parolanızı almanıza yalnızca bir adım kaldı, parolanızı hemen değiştirin.</p>
                <div class="text-danger" asp-validation-summary="All"></div>
                <form asp-area="" asp-controller="Account" asp-action="ResetPassword" method="post">
                <input type="hidden" asp-for="UserId" />
                <input type="hidden" asp-for="TokenCode" />
                <label asp-for="Password"></label>
                    <div class="input-group mb-3">
                        <input asp-for="Password" type="password" class="form-control" >
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <label asp-for="RePassword"></label>
                    <div class="input-group mb-3">
                        <input asp-for="RePassword" type="password" class="form-control" >
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Şifremi Yenile </button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

            </div>
            <!-- /.login-card-body -->
        </div>
    </div>

