@{
    Layout = "_LoginRegisterLayout";
}
@model  UpdatePasswordViewModel


    <div class="login-box">
        <div class="login-logo">
            <a href="~/admin/index2.html"><b>Rhythmic</b>Realm</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Yeni şifrenize yalnızca bir adım kaldı, şifrenizi hemen değiştirin.</p>

                <form action="login.html" method="post">
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Eski Şifreniz">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Yeni Şifreniz">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Yeni Şifrenizi onaylayın">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Şifreyi değiştir</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                <p class="mt-3 mb-1">
                    <a asp-area=""
                    asp-controller="Account"
                    asp-action="Login">Giriş</a>
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>

