<footer class="main-footer">
    <strong>Designed By Pınar Alioğulları Kaya Copyright &copy; @DateTime.Now.Year </strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 3.2.0
    </div>
</footer>